# Servidor
PORT=3000

# CORE Integration
CORE_URL=https://core-api.example.com

# Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=stockflow

# Integrações externas
SMART_STORAGE_BASE_URL=https://smart-storage.example.com
WMS_BASE_URL=https://wms.example.com
WMS_MOCK=true
